* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
}

.card {
  display: flex;
  width: 60rem;
  margin: 15rem auto;
  perspective: 1px;
  border-radius: 1.4rem;
  overflow: hidden;
}

img {
  height: 45rem;
}

.content-div {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.category {
  font-size: 1.2rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  color: rgb(127, 127, 127);
  margin-top: 1.8rem;
  margin-bottom: 1.2rem;
}

.heading {
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin-bottom: 1.4rem;
}

.description {
  color: rgb(127, 127, 127);
  font-size: 1.2rem;
  line-height: 2.4rem;
  margin-bottom: 1.4rem;
}

.checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Fraunces", serif;
  margin-bottom: 3.2rem;
}

.price {
  font-size: 3.6rem;
  color: hsl(158, 36%, 37%);
}

.discount {
  text-decoration: line-through rgb(80, 80, 80);
  color: rgb(80, 80, 80);
}

button,
button:link,
button:active {
  background-color: hsl(158, 36%, 37%);
  border: none;
  border-radius: 5px;
  height: 4.8rem;
  color: #fff;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 3.2rem;
}

button:hover,
button:visited {
  background-color: hsl(158, 34%, 50%);
  cursor: pointer;
}

.cart-icon {
  font-size: 2rem;
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
