* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
}

html {
  font-family: "Montserrat", sans-serif;
}

.card {
  display: flex;
  width: 600px;
  margin: 150px auto;
  perspective: 1px;
  border-radius: 14px;
  overflow: hidden;
}

.img {
  height: 450px;
}

.content-div {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.category {
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgb(127, 127, 127);
  margin-top: 14px;
  margin-bottom: 12px;
}

.heading {
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 14px;
}

.description {
  color: rgb(127, 127, 127);
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 14px;
}

.checkout {
  display: flex;
  justify-content: space-between;
  font-family: "Fraunces", serif;
}

.price {
  font-size: 36px;
  color: hsl(158, 36%, 37%);
}

.discount {
  text-decoration: line-through rgb(80, 80, 80);
  color: rgb(80, 80, 80);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
